<input type="text" class="form-control" [(ngModel)]="carName">
<button class="btn btn-primary" (click)="addCar()">Add Car</button>
<p *ngIf="addCarStatus; else successStatus">Car was added</p>
<ng-template #successStatus>
  <p>Car wasn't added</p>
</ng-template>
<hr/>

<!--<app-car *ngFor="let car of cars"></app-car>-->

<ul>
  <li *ngFor="let car of cars; let ind = index">
   <div
     [ngStyle]="{backgroundColor: (ind+1)%2 === 0 ? 'red':'transparent',
   'color': 'blue'}"
     [ngClass]="{'big-text': setBigCarText(car)}"
   >
     <b>{{ind+1}}</b> - {{car}}
   </div>
  </li>
</ul>
